.hero {
  min-height: 100vh;
}

.login,
.forgot,
.signup {
  height: 100vh;
  max-width: 400px;
}

.dashboard {
  min-height: 100vh;
}

.sidenav {
  min-height: 100vh;
}

.logo {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
}

.header-nav {
  display: flex;
}

.mobile-nav-btn {
  display: none;
  position: absolute;
  background: none;
  border: none;
  left: 15px;
  z-index: 1020;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadein {
  opacity: 0;
  animation: 4s fadein 1s forwards;
}

@keyframes bounce {
  0% {
    bottom: 1rem;
  }

  50% {
    bottom: 1.75rem;
  }

  100% {
    bottom: 1rem;
  }
}

.chevron {
  opacity: 0;
  animation: 4s fadein 2s forwards,
    2s bounce cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.auth-link,
.nav-link {
  color: #3f808b;
}

.auth-link:hover,
.nav-link:hover {
  color: white;
}

.selected {
  color: white;
}

.selected:hover {
  color: #3f808b;
}

.btn-main {
  background-color: #3f808b;
  border-color: #3f808b;
  color: white;
}

.night-input,
.night-input:focus {
  background: transparent;
  color: white;
}

@media screen and (max-width: 450px) {
  .header {
    justify-content: center;
    padding: 0;
    background: #192b3b;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .header-nav a {
    font-size: 1.25rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid white;
    width: 75%;
  }

  /* Remove the border on the first link in the mobile nav */
  .header-nav a:first-child {
    border: none;
  }

  .nav-open {
    height: auto;
    padding: 16px 0;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 3px 10px 3px #0b131a;
  }

  .nav-closed {
    height: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .mobile-nav-btn {
    display: block;
    position: fixed;
    top: 15px;
  }

  @keyframes slidedown {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }

  .test-slide {
    animation: 5s slidedown;
  }

  .dashboard-main {
    padding: 0;
    padding-top: 50px;
  }

  .aside-nav {
    position: fixed;
    left: 0;
  }

  .sidenav {
    position: fixed;
    overflow: hidden;
    background: linear-gradient(#213950, #081018);
  }

  .sidenav-open {
    width: 150px;
    border-right: 1px solid white;
  }

  .sidenav-closed {
    width: 0;
  }
}
